@charset "utf-8";
/* CSS Document */

/*this class will hide elements on our page*/
.hidden
{
		display: none;
}

.clearfix:after
{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#container
{
	width: 1000px;
	margin: 0 auto;
	padding-top: 33px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #222;
}

#gameInfo
{
	width: 304px;
	height: 696px;
	float: left;
	/*background-color: #999;*/
	text-align: center;
	border-top: 1px solid #111;
	border-left: 1px solid #111;
	border-bottom: 1px solid #111;
}

#hitsInfo
{
	border-top: 1px solid #111;
}

#gameArea
{
	width: 693px;
	float: right;
	/*background-color: #888;*/
	border-left: 1px solid #111;
	border-right: 1px solid #111;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}

svg
{
	width: 425px;
	margin-top: 50px;
	margin-left: 135px;
	padding-bottom: 50px;
}

#mainTitle
{
	font-size: 20px;
	margin-top: 18px;
	margin-bottom: 18px;
}

#hits
{
	font-size: 18px;
	margin-top: 40px;
}

#hitCount
{
	font-size: 100px;
	padding-top: 120px;	
}
