@charset "utf-8";
/* CSS Document */

/*this class will hide elements on our page*/
.hidden
{
	display: none;
}

.clearfix:after
{
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

body
{
	font-family: Arial, sans-serif;
	font-size: 40px;
	text-align: center;
}

canvas
{
	border:1px solid #000;
	cursor: none;
	float: left;
	margin-left: 15px;
	background: url(../images/bckgrd.jpg);
}

#player, #enemy
{
	display: none;
}

#info
{
	margin-top: 50px;
}
